:root {
    --canvasWidth: 640px;
    --canvasHeight: 480px;
    --darkRed: rgb(177,26,33);
    --lightRed: rgb(224,71,76);
    --blue: rgb(122,184,214);
    --lightGray: rgb(241,240,238);
}

* {
    box-sizing: border-box
}

h1 {
    text-align: center;
}

body {
    background: rgb(241,240,238);
    font-size: 18pt;
    font-family: Tahoma, Verdana, sans-serif;
}

.game-container {
    display: flex;
    justify-content: center;
}

.game-area {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-area-canvas {
    position: relative;
    border-radius: 5px;
    width: var(--canvasWidth);
    height: var(--canvasHeight);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
    background-color: rgb(122,184,214);
}

#game-area-canvas:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.box {
    position: absolute;
    outline: 2px solid rgb(224,71,76);
    outline-offset: -4px;
    background-color: rgb(177,26,33);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px;
}

.timer-text {
    margin-left: 0.25em;
    margin-right: 0.25em;
    top: 0;
    right: 0;
    color: rgb(241,240,238);
    position: absolute;
}

.new-game-button {
    font-size: 18pt;
    font-family: Tahoma, Verdana, sans-serif;
    position: absolute;
    text-align: center;
    color: var(--lightGray);
    outline: 2px solid rgb(224,71,76);
    outline-offset: -4px;
    background-color: rgb(177,26,33);
    border-radius: 5px;
    transform: scale(1);
}

.new-game-button:hover {
    transform: scale(1.05);
}

.instructions {
    position: absolute;
    color: var(--lightGray);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    justify-content: center;

}