* {
    box-sizing: border-box
}

h1 {
    text-align: center;
}

.game-area {
    display: flex;
    justify-content: center;
}

.game-area-canvas {
    width: 640px;
    height: 480px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}

.game-area-canvas:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}