:root {
    --canvasWidth: 640px;
    --canvasHeight: 480px;
    --darkRed: rgb(177,26,33);
    --lightRed: rgb(224,71,76);
    --blue: rgb(122,184,214);
    --lightGray: rgb(241,240,238);
    --darkGray: rgb(170, 170, 170);
}

* {
    box-sizing: border-box
}

h1 {
    text-align: center;
}

body {
    background: var(--lightGray);
    font-size: 18pt;
    font-family: Tahoma, Verdana, sans-serif;
    position: relative;
}

.game-container {
    display: flex;
    justify-content: center;
}

.game-area {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-area-canvas {
    position: relative;
    border-radius: 5px;
    width: var(--canvasWidth);
    height: var(--canvasHeight);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
    background-color: var(--blue);
}

#game-area-canvas:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.box {
    position: absolute;
    outline: 2px solid var(--lightRed);
    outline-offset: -4px;
    background-color: var(--darkRed);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.timer-text {
    margin: 5px;
}

.reset-game {
    padding: 5px;
    font-size: 18pt;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 5px;
    text-align: center;
    color: var(--lightGray);
    outline: 2px solid var(--lightRed);
    outline-offset: -4px;
    background-color: var(--darkRed);
    border-radius: 5px;
}

.reset-game:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.new-game-button {
    font-size: 18pt;
    font-family: Tahoma, Verdana, sans-serif;
    position: absolute;
    text-align: center;
    color: var(--lightGray);
    outline: 2px solid var(--lightRed);
    outline-offset: -4px;
    background-color: var(--darkRed);
    border-radius: 5px;
}

.new-game-button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.instructions {
    position: absolute;
    color: var(--lightGray);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    justify-content: center;

}

#leaderboard-area {
    padding: 10px;
    max-width: max-content;
}

@media screen and (min-width: 1215px)  {
    #leaderboard-area {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 150px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 1214px) {
    #leaderboard-area {
        position: absolute;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        border: 2px dashed black;
    }
}

.login-sign-up-button {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: var(--lightGray);
    background-color: var(--blue);
    cursor: pointer;
}

.login-sign-up-button:hover {
    background-color: var(--lightRed);
    color: var(--darkGray);
}