* {
    box-sizing: border-box;
    font-size: 18pt;
    font-family: Tahoma, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 25pt;
}

table {
    width: 100%;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}